/* Общие стили */

/* .container, .features, .feature-item, .advantage, .advantage-description, .search-result, .more, .book, .rating, .search-result-sort {
  outline: 1px solid red;
} */

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  color: #000000;
  line-height: 26px;
  font-weight: bold;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-69px);
  z-index: 2;
}

.main-header {
  position: relative;
  min-width: 768px;
  min-height: 56px;
  padding: 0;
}

.main-navigation {
  padding-left: 6%;
  padding-right: 6%;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation li:last-child, .main-navigation li:nth-child(3) {
  text-align: right;
  float: right;
}

.main-navigation a {
  text-decoration: none;
  color: #000000;
  line-height: 26px;
  font-weight: bold;
}

.main-footer {
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -120px;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 0;
}


.visitsedona, .footer-social, .footer-copyright {
  display: inline-block;
  width: 33.3%;
  font-size: 14px;
  vertical-align: middle;
}



.footer-copyright {
  text-align: center;
  color: #000000;
}

.footer-social {
  text-align: center
}

.footer-copyright span, .footer-copyright img {
  display: inline-block;
  vertical-align: middle;
}

.footer-copyright span {
  margin-right: 8px;
}

.social-btn {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.visitsedona {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

/* Стили для index */

.introduction {
  position: relative;
  width: 100%;
  min-width: 768px;
  height: 512px;
  margin-bottom: 55px;
}

.advantage b, .features b {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  color: #000000;
  line-height: 21px;
  font-weight: bold;
}

.advantage-description-1 {
  float: left;
  width: 33%;
  box-sizing: border-box;
  background-color: #81b3d2;
  min-height: 256px;
  padding-left: 37px;
  padding-right: 40px;
  padding-top: 47px;
  text-align: center;
}

.advantage-description-1 b {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  line-height: 21px;
  margin-bottom: 25px;
}

.advantage-description-1 p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 21px;
  margin-bottom: 22px;
}

.advantage {
  min-height: 256px;
  background-color: #eeeeee;
}

.features {
  margin-top: 59px;
  margin-bottom: 4.83%;
}

.feature-item {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  padding-top: 104px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 8px;
}

.feature-item b {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  margin-bottom: 23px;
}

.feature-item p {
  text-align: center;
}

.first {
  float: right;
  background: url("../img/sedona-1.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.second {
  float: left;
  background: url("../img/sedona-2.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.image {
  width: 67%;
  height: 256px;
}

.central {
  display: block;
  text-align: center;
}

.central-message-1 {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 32px;
}

.interested {
  color: #000000;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 56px;
  margin-bottom: 32px;
}

.white-bottom {
  position: absolute;
  top: 476px;
  width: 100%;
  height: 37px;
  background: url("../img/white-bottom.png") no-repeat;
  background-size: 100% 37px;
}


.main-image {
  height: 512px;
  background: url("../img/sedona-bg.jpg") no-repeat 100% 29%;
  background-size: cover;
}

.main-image img {
  position: absolute;
  top: 76px;
  left: 50%;
  transform: translateX(-229px);
}

.housing {
  background: url("../img/icon-housing.png") no-repeat 50% 0;
}

.food {
  background: url("../img/icon-food.png") no-repeat 50% 0;
}

.souvenirs {
  background: url("../img/icon-souvenirs.png") no-repeat 50% 0;
}

.advantage-description-2 {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  background-color: #eeeeee;
  min-height: 256px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 46px;
}

.advantage-description-2 b {
  display: block;
  line-height: 21px;
  text-align: center;
  margin-bottom: 25px;
}

.advantage-description-2 p {
  text-align: center;
  margin-bottom: 20px;
}

.central-message-2 {
  margin-bottom: 51px;
}

.map iframe {
  width: 100%;
  margin: 0 auto;
}

/* Стили для модального окна */

.hotel-search {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 568px;
  height: 395px;
  box-sizing: border-box;
  padding: 55px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  margin: 0 auto;
  box-shadow: 0 0 20px #cccccc;
}

.hotel-search-show {
  display: block;
  animation: appear 0.3s;
}

@keyframes appear {
  0%   { transform: translateY(-100%); }
  100% { transform: translateY(0%);    }
}

.form-and-map {
  overflow: hidden;
  margin-top: 51px;
}

.hotel-search input {
  box-sizing: border-box;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

.dates {
  width: 345px;
  padding-left: 15px;
}

.left-label {
  display: inline-block;
  width: 113px;
  vertical-align: baseline;
  font-size: 14px;
}

.middle-label {
  display: inline-block;
  width: 58px;
  margin-left: 56px;
  font-size: 14px;
}

.people-number input {
  width: 114px;
  padding-left: 52px;
  margin-bottom: 54px;
}

.hotel-search input:hover {
  background-color: #ebebeb;
}

.hotel-search input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.btn {
  width: 100%;
  height: 58px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #81b3d2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
}

.btn:hover {
  background-color: #669ec0;
}

.search {
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  border: none;
  outline: none;
  cursor: pointer;
  width: 568px;
  height: 86px;
  background-color: #766357;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
}

.form-block {
  position: relative;
  margin: 0 auto;
  width: 568px;
}

.checkin, .checkout {
  position: relative;
  margin-bottom: 30px;
  font-size: 0px;
}

.checkin img, .checkout img {
  position: absolute;
  top: 9px;
  right: 9px;
  opacity: 0.24;
}

.checkin img:hover, .checkout img:hover {
  opacity: 1;
}


/* Стили для inner */



.infrastructure {
  float: left;
  width: 20%;
}

.housing-type {
  float: left;
  width: 25%;
}

.price {
  float: right;
  width: 33%;
}

.search-result a {
  display: inline-block;
}

.search-result img {
  float: left;
  margin-right: 30px;
}

.search-result span {
  display: inline-block;
  width: 110px;
  margin-right: 6px;
}

.search-result {
  padding-bottom: 30px;
}

.rating {
  float: right;
  width: 110px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  margin-right: 6px;
}

.more {
  width: 110px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  margin-right: 6px;
}

.book {
  width: 142px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}

.search-result-sort {
  padding-top: 31px;
  padding-bottom: 33px;
}

.hotel-advanced-search {
  background: url("../img/sedona-blurred.jpg") no-repeat;
}

















.people-number {
  font-size: 0;
}
